*/*~
__pycache__/*
*/__pycache__/*
NN_output/
.ipynb_checkpoints
.DS_Store
bo_nn.ipynb
bo_output/
surrogate_correct.py
surrogate_models/*.csv
*/.ipynb_checkpoints
results/
datasets/
user_configuration.yml
.snakemake/
csv_paths.txt
shift_logs.err
shift_logs.out
*.log
logs/
logs/*
*.txt
*~